<div class="row">
    <div class="col-sm-4 col-md-3">
        <div ng-show="active.item != null">
            <div class="panel spherical-heatmap text-center"
                 ng-repeat="(rIndex, radialBin) in active.heatmap" ng-if="rIndex > 0">
                <svg viewBox="-100 -100 200 200" height="155px" ng-click="toggleFocus(null);">
                    <circle r="5" fill="red" cx="0" cy="0"/>
                    <path class="polar-bin"
                          id="polar-bin-{{ pdbid }}-{{ rIndex * context.bin_data.num_bins_per_radial_unit + template.index }}"
                          ng-polar-bin="{{ rIndex * context.bin_data.num_bins_per_radial_unit + template.index }}"
                          fill="transparent"
                          stroke="#DDD"
                          stroke-width="1"
                          ng-d="{{ template.path }}"
                          ng-class="{focus: focus === template.index}"
                          ng-repeat="template in polarBinsTemplate">
<title>Bin #: {{ rIndex * context.bin_data.num_bins_per_radial_unit + template.index }}
    Radius Bin:  {{ context.bin_data.radial_bin_boundaries[rIndex] | round:2 }}
    Zenith Bin:  {{ (context.bin_data.zenith_boundaries[template.zenithIndex-1] || 0) | round:2  }}
    Azimuth Bin: {{ context.bin_data.azimuth_boundaries[template.azimuthIndex] | round:2 }}
</title>
                    </path>
                </svg>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9">
        <div class="row">
            <div class="col-xs-12">
                <div ng-js-mol id="viewer" structure="{{ pdbid }}" chain="{{ chain }}" identifier="{{ identifier }}"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-inline text-justify selector">
                    <li ng-repeat="(index, heatmap) in thumbnails.heatmaps"
                         ng-class="{active: index==active.index, highlight: highlights.indexOf(index) !== -1}"
                         id="res-{{ identifier }}-{{ context.contexts[index].resnum }}"
                         ng-style="{'border-bottom-color': residueColoring[context.contexts[index].resnum]}">
                        <a ng-click="setActiveContext(index)"
                           title="{{ context.contexts[index].name }} ({{ context.contexts[index].coords.join(', ') }})">
                            {{ context.contexts[index].aacode }}{{ context.contexts[index].resnum }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6" ng-show="active.item != null">
        <div class="panel panel-default text-center" ng-if="focus">
            <svg viewBox="0 0 140 100" height="150px">
                <rect class="histogram-bin"
                      ng-histogram-bin="{{ $index }}"
                      fill="rgb({{ 5 * $index }}, 0, {{ 255 - 5 * $index }})"
                      ng-x="{{ 10 * ($index) * (15 / 50) }}"
                      ng-width="{{ 10 * ((7 - -7 + 1) / 50) }}"
                      ng-y="{{ binHeight < .18 ? 90 -  500 * binHeight : 10 }}"
                      ng-height="{{ binHeight < .18 ? 500 * binHeight : 80 }}"
                      ng-if="binHeight > 0"
                      ng-repeat="binHeight in gridHistograms[focus-72] track by $index">
                    <title>{{ binHeight * 100 | round:3 }}% of grid points kT={{ ($index - 24) / (25/7.0) | round:3 }}</title>
                </rect>
                <line x1="70"
                      x2="70"
                      y1="20"
                      y2="90"
                      style="stroke: #CCC; stroke-width: 1"
                />
                <line x1="0"
                      x2="140"
                      y1="90"
                      y2="90"
                      style="stroke: #CCC; stroke-width: 1"
                />
                <line x1="70"
                      x2="70"
                      y1="10"
                      y2="20"
                      style="stroke: #AAA; stroke-width: 1"
                />
                <line ng-x1="{{ x }}"
                      ng-x2="{{ x }}"
                      y1="95"
                      y2="100"
                      style="stroke: #AAA; stroke-width: 1"
                      ng-repeat="x in [ 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140 ]"
                />
                <text x="0" y="100" font-family="Verdana" font-size="8">&le;-7</text>
                <text x="65" y="100" font-family="Verdana" font-size="8">0</text>
                <text x="60" y="15" font-family="Verdana" font-size="8">&ge;20%</text>
                <text x="125" y="100" font-family="Verdana" font-size="8">&ge;7</text>
                <text x="60" y="110" font-family="Verdana" font-size="8">kT</text>
            </svg>
        </div>
    </div>

    <div class="col-sm-6 col-md-6" ng-show="active.item != null">
        <div class="panel panel-default text-center" ng-if="focus">
            <svg viewBox="0 0 140 100" height="150px">
                <rect class="histogram-bin"
                      ng-histogram-bin="{{ $index }}"
                      fill="rgb({{ 5 * $index }}, 0, {{ 255 - 5 * $index }})"
                      ng-x="{{ 10 * ($index) * (15 / 50) }}"
                      ng-width="{{ 10 * ((7 - -7 + 1) / 50) }}"
                      ng-y="{{ binHeight < .18 ? 90 -  500 * binHeight : 10 }}"
                      ng-height="{{ binHeight < .18 ? 500 * binHeight : 80 }}"
                      ng-if="binHeight > 0"
                      ng-repeat="binHeight in gridHistograms[focus-72] track by $index">
                    <title>{{ binHeight * 100 | round:3 }}% of grid points kT={{ ($index - 24) / (25/7.0) | round:3 }}</title>
                </rect>
                <line x1="70"
                      x2="70"
                      y1="20"
                      y2="90"
                      style="stroke: #CCC; stroke-width: 1"
                />
                <line x1="0"
                      x2="140"
                      y1="90"
                      y2="90"
                      style="stroke: #CCC; stroke-width: 1"
                />
                <line x1="70"
                      x2="70"
                      y1="10"
                      y2="20"
                      style="stroke: #AAA; stroke-width: 1"
                />
                <line ng-x1="{{ x }}"
                      ng-x2="{{ x }}"
                      y1="95"
                      y2="100"
                      style="stroke: #AAA; stroke-width: 1"
                      ng-repeat="x in [ 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140 ]"
                />
                <text x="0" y="100" font-family="Verdana" font-size="8">&le;-7</text>
                <text x="65" y="100" font-family="Verdana" font-size="8">0</text>
                <text x="60" y="15" font-family="Verdana" font-size="8">&ge;20%</text>
                <text x="125" y="100" font-family="Verdana" font-size="8">&ge;7</text>
                <text x="60" y="110" font-family="Verdana" font-size="8">kT</text>
            </svg>
        </div>
    </div>

</div>
