/* globals */
.clearfloat     {clear:both; height:0px;}

/* Page header */
#header         {background:#333333;}

#header_lab         {padding:5px 30px 0 15px; height:20px; background:#333333; float: right;}
#header_lab a       {color:#cccccc; text-transform: uppercase; text-decoration:none;}
#header_lab a:focus,
#header_lab a:hover {color:#eebb44;}

#header_logo        {background:#666666; height:50px;overflow:hidden; }
#header_logo img    {height:107px; float: left; }
#header_logo span   {color: white; font-variant:small-caps;font-size:1.5em;padding:10px; }

/* Navigation */
#menu           {background:#d3d3d3; font-family: Helvetica, Verdana, Arial, sans-serif; line-height:100%;}

#menu_left      {float:left; width:500px;}
#menu_right     {float:right; max-width:500px;}

#menu ul        {list-style-type:none;}
#menu li        {float:left;}
#menu li.selected   {background-color: white;}

#menu a         {color:#000000; text-decoration:none; padding: 5px 15px 5px 15px; display:block;}
#menu a.first   {padding: 5px 15px 5px 30px;}
#menu a.last    {padding: 5px 67px 5px 15px;}
#menu a:hover   {color:#666600;}

/* Page content */
#main           {background:#ffffff; padding-bottom:75px; line-height:150%; color:#000000;}
#column_l       {float:left; width:500px; padding: 10px 20px 10px 30px;}
#column_r       {float:right; width:350px; padding: 10px 30px 10px 20px; margin: 0px 40px 0px 10px; background-color:#eeeeee;}
#column_b       {width:900px; padding: 10px 70px 10px 30px;}

#main a         {text-decoration:none; border-bottom:1px solid #ddddcc; color:#666600;}
#main a:visited {color:#666600;}
#main a:focus,
#main a:hover   {color:#333300;}
#main li a.jump,
#main a.jump    {border:0; font-style:italic;}

#main h1        {margin-bottom:6px; margin-top:30px; font-size:150%; color:#464666; font-family: Arial, Helvetica, Verdana, sans-serif;}
#main h2        {margin-top:20px; font-size:130%; color:#886600; font-family: Arial, Helvetica, Verdana, sans-serif;}
#main h3        {margin:2px 0; font-size:120%; color:#464666}
#main h4        {font-size:120%; font-weight:normal; font-style:italic; color:#886600;}

#main ol        {margin:2px 0 4px 18px;}
#main ul        {margin:2px 0 4px 2px;}
#main ul li     {padding-left:10px; list-style-type:none; background:url(http://www.sfsu.edu/template/images/bulletpurple.png) no-repeat left 7px;}
#main ul li ul li,
#main ul li ol li   {}
#main li a          {text-decoration:none; border-bottom:1px solid #ddddcc; color:#666600;}
#main li a:visited  {color:#666600;}
#main li a:focus,
#main li a:hover,
#main ul li ul li a:hover   {color:#333300;}
#main ul li a:hover {color:#333300;}

#main p         {margin: 5px 0px 5px 0px;}
#main p span.void   {display:none;}

#main pre       {white-space:pre-wrap; font-style:normal;}

#main dl        {width:100%; overflow:hidden;}
#main dt        {float:left; width:30%; font-style:italic;}
#main dd        {float:left; width:70%; margin-bottom:5px;}

#main table.fileupload  {margin: 10px 0px 10px 0px; border: 1px solid black; border-collapse:collapse;}
#main tr.fileupload     {border: 1px dotted black; border-collapse:collapse;}

#main .answer   {margin: 5px 0px 20px 0px; font-style:italic;}

#main .brief    {width:100%; float:left; padding-top:10px; border-top:1px dotted #ddcc77;}
#main .imgfull  {width:100%; float:left; padding-top:10px; border-top:1px dotted #ddcc77;}
#main .brief img    {float:left; margin:4px 15px 5px 0;}
#main .brief p      {margin-bottom:15px;}
#main .brief h2     {margin-top:0; }
#main .brief h2 a   {padding-left:15px; background:url(http://www.sfsu.edu/template/images/arrowgold.png) no-repeat 0 5px; color:#886600;}
#main .brief h2 a:visited   {color:#666600;}
#main .brief h2 a:focus,
#main .brief h2 a:hover     {color:#333300;}

#main .mono     {font-family:"Lucida Console", Monaco, monospace; font-size:90%; font-weight:600;}

#footer_nsf     {height:20px; padding:5px 0px 0px 190px; background-color:#d3d3d3;}
#footer_sfsu    {height:auto; color:#cccccc;}

#footer_sfsu img        {float:left; width:165px; padding-left:130px; background-color:#333333;}
#footer_sfsu ul         {padding-left:300px; line-height:50px; background-color:#444444;}
#footer_sfsu li         {display:inline; padding-left:4px; margin-right:4px; border-left:1px solid #777777;}
#footer_sfsu li.first   {border-left:none;}
#footer_sfsu a          {text-decoration:none; color:#cccccc;border-bottom:1px solid #565656;}
#footer_sfsu a:hover    {color:#ffffff;}

/* Absolute Center Spinner, courtesy of http://codepen.io/MattIn4D/pen/LiKFC */
.loading { position: fixed; z-index: 999; height: 2em; width: 2em; overflow: show; margin: auto; top: 0; left: 0; bottom: 0; right: 0; }
/* Transparent Overlay */
.loading:before { content: ''; display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.3); }
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
.loading:not(:required):after { content: ''; display: block; font-size: 10px; width: 1em; height: 1em; margin-top: -0.5em; -webkit-animation: spinner 1500ms infinite linear; -moz-animation: spinner 1500ms infinite linear; -ms-animation: spinner 1500ms infinite linear; -o-animation: spinner 1500ms infinite linear; animation: spinner 1500ms infinite linear; border-radius: 0.5em; -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0; box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0; }
/* Animation */
@-webkit-keyframes spinner { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); } }
@-moz-keyframes spinner { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); } }
@-o-keyframes spinner { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes spinner { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); } }